body, html {
  background-color: rgb(168, 201, 250);
  font-family: 'Montserrat', sans-serif; /* this should be the rest of the output you got from Google fonts */
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  width: 100%;
  height: 100%;
}

.header {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(105, 105, 105, 0.479)), url('../images/draw.jpg') center center no-repeat;
	background-size: cover;
}

.header .header-content {
	padding-top: 20%;
	padding-bottom: 10%;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header .p-large {
	margin-bottom: 2rem;
	color: #ffffff;
}

h1 {
  color: rgb(152, 205, 255);
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
  text-align: center;
}

li {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 2;
}

nav {
  font-size: 15px;
  text-align: center;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-alpha;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.125rem 1.375rem 2.125rem;
	border: 0.125rem solid #145ebf;
	border-radius: 0.25rem;
	background-color: #145ebf;
	color: #fff;
	font: "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: white;
	text-decoration: none;
}

.social {
  padding: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #4078c0;
  color: white;
}
